.logo {
	border: 2px black solid;
	border-radius: 50%;
	height: 10vh;
	width: 10vh;
	margin-left: 30px;
	position: absolute;
  left: 90%;
  top: 4%;
  color: black;
  background-image: url(../images/logs.png);
  background-position: center;
 
}
li {
	
	text-color: white;
	text-align: center;
	font-family: trebuchet MS;
	grid-gap: 5px;
	padding: 5px;
	border: 2px solid black;
	width: 10vw;
	margin: 10px 0px 30px 90px;
	color: black;
	opacity: .5;
	list-style: none;
	
}

.menudo {
	padding: 0px;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(3,1fr);
	list-style: none;
}

.container {
	height: 80vh;
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap: 10px;
	margin-bottom: 10px;

}
.a{
	background-image: url(../images/f.jpg);
	background-position: center;
}


.b{
background-image: url(../images/1.jpg);
	background-position: center;
}

.c {
	background-image: url(../images/x.jpg);
	background-position: center;
}




.d{
	background-image: url(../images/h.jpg);
	background-position: center;
}