body{
	text-align: center;
}

.logo {
	border: 2px black solid;
	border-radius: 50%;
	height: 10vh;
	width: 10vh;
	margin-left: 30px;
	position: absolute;
  left: 90%;
  top: 4%;
  color: black;
  background-image: url(../images/logs.png);
  background-position: center;
 
}
li {
	
	text-color: white;
	text-align: center;
	font-family: trebuchet MS;
	grid-gap: 5px;
	padding: 5px;
	border: 2px solid black;
	width: 10vw;
	margin: 10px 0px 30px 90px;
	color: black;
	opacity: .5;
	list-style: none;
	
}

.menudo {
	padding: 0px;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(3,1fr);
	list-style: none;
}

.photo{
	background-image: url(../images/1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	border-right: 5px solid white
}

.txt{
	
	background-image: url(../images/2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}


.headl{
	padding: 5px;
	border: 3px solid white;
	width: 40vw;
	margin: 30px auto;
	left: 0%;
  top: 100%;
}
.what{
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 2px;
	
	height: 90vh;
	margin-top: 10px;
}

.weh{
	height: 50vh;
	border: 3px white solid;
	width: 50vw;
	margin: 30px auto;
}


.what2{
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 2px;
	
	height: 90vh;
	margin-top: 10px;
}

.weh2{
	height: 50vh;
	border: 3px white solid;
	width: 50vw;
	margin: 30px auto;
}
	
.headl2{
	padding: 5px;
	border: 3px solid white;
	width: 40vw;
	margin: 30px auto;
	left: 0%;
  top: 100%;
}

.photo2{
	background-image: url(../images/3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	border-right: 5px solid white

}

.txt2{
	
	background-image: url(../images/w.jpg);
	background-repeat: no-repeat;
	background-size: cover;
